@import "tailwindcss/preflight";
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0a0a0a;

    --card: #ffffff;
    --card-foreground: #0a0a0a;

    --popover: #ffffff;
    --popover-foreground: #0a0a0a;

    --primary: var(--color-mosque-700);
    --primary-foreground: var(--color-mosque-50);

    --secondary: var(--color-mosque-100);
    --secondary-foreground: var(--color-mosque-900);

    --muted: var(--color-mosque-100);
    --muted-foreground: var(--color-mosque-600);

    --accent: var(--color-mosque-200);
    --accent-foreground: var(--color-mosque-800);

    --destructive: #ef4444;
    --destructive-foreground: #ffffff;

    --border: var(--color-mosque-200);
    --input: var(--color-mosque-200);
    --ring: var(--color-mosque-700);

    --radius: 0.5rem;

    /* Mosque color palette */
    --color-mosque-50: #effefd;
    --color-mosque-100: #c8fffa;
    --color-mosque-200: #92fdf6;
    --color-mosque-300: #53f5f0;
    --color-mosque-400: #20e1e1;
    --color-mosque-500: #07c2c5;
    --color-mosque-600: #02999f;
    --color-mosque-700: #07787e;
    --color-mosque-800: #0c686e;
    --color-mosque-900: #0e4f53;
    --color-mosque-950: #012d32;
  }

  .dark {
    --background: var(--color-mosque-950);
    --foreground: var(--color-mosque-100);

    --card: var(--color-mosque-900);
    --card-foreground: var(--color-mosque-50);

    --popover: var(--color-mosque-900);
    --popover-foreground: var(--color-mosque-50);

    --primary: var(--color-mosque-300);
    --primary-foreground: var(--color-mosque-950);

    --secondary: var(--color-mosque-700);
    --secondary-foreground: var(--color-mosque-100);

    --muted: var(--color-mosque-800);
    --muted-foreground: var(--color-mosque-200);

    --accent: var(--color-mosque-600);
    --accent-foreground: var(--color-mosque-100);

    --destructive: #7f1d1d;
    --destructive-foreground: #fef2f2;

    --border: var(--color-mosque-800);
    --input: var(--color-mosque-800);
    --ring: var(--color-mosque-300);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
